In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 5GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/Telco-Customer-Churn.train.csv

In [2]:
data_df = pd.read_csv("/kaggle/input/Telco-Customer-Churn.train.csv")

In [3]:
data_df.head()

,Churn,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,No,4223-BKEOR,Female,0,No,Yes,21,Yes,No,DSL,...,No,Yes,No,No,Yes,One year,No,Mailed check,64.85,1336.8
1,No,6035-RIIOM,Female,0,No,No,54,Yes,Yes,Fiber optic,...,Yes,No,No,Yes,Yes,Two year,Yes,Bank transfer (automatic),97.20,5129.45
2,Yes,3797-VTIDR,Male,0,Yes,No,1,No,No phone service,DSL,...,No,No,No,No,No,Month-to-month,Yes,Electronic check,23.45,23.45
3,Yes,2568-BRGYX,Male,0,No,No,4,Yes,No,Fiber optic,...,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.20,237.95
4,No,2775-SEFEE,Male,0,No,Yes,0,Yes,Yes,DSL,...,Yes,No,Yes,No,No,Two year,Yes,Bank transfer (automatic),61.90,

In [4]:
data_df.tail()

,Churn,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
5629,Yes,0684-AOSIH,Male,0,Yes,No,1,Yes,No,Fiber optic,...,No,No,No,Yes,Yes,Month-to-month,Yes,Electronic check,95.00,95
5630,No,5982-PSMKW,Female,0,Yes,Yes,23,Yes,Yes,DSL,...,Yes,Yes,Yes,Yes,Yes,Two year,Yes,Credit card (automatic),91.10,2198.3
5631,No,8044-BGWPI,Male,0,Yes,Yes,12,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,Yes,Electronic check,21.15,306.05
5632,Yes,7450-NWRTR,Male,1,No,No,12,Yes,Yes,Fiber optic,...,No,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,99.45,1200.15
5633,No,4795-UXVCJ,Male,0,No,No,26,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,One year,No,Credit card (automatic),19.80,457.3

In [5]:
#missing values: non ci sono valori direttamente nulli, 
#ma ci sono stringhe che indicano l'assenza del valore, come "no phone service" 
#e "no internet service"
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5634 entries, 0 to 5633
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Churn             5634 non-null   object
 1   customerID        5634 non-null   object
 2   gender            5634 non-null   object
 3   SeniorCitizen     5634 non-null   int64
 4   Partner           5634 non-null   object
 5   Dependents        5634 non-null   object
 6   tenure            5634 non-null   int64
 7   PhoneService      5634 non-null   object
 8   MultipleLines     5634 non-null   object
 9   InternetService   5634 non-null   object
 10  OnlineSecurity    5634 non-null   object
 11  OnlineBackup      5634 non-null   object
 12  DeviceProtection  5634 non-null   object
 13  TechSupport       5634 non-null   object
 14  StreamingTV       5634 non-null   object
 15  StreamingMovies   5634 non-null   object
 16  Contract          5634 non-null   object
 17  PaperlessBilling  5634 non-null   object
 18  PaymentMethod     5634 non-null   object
 19  MonthlyCharges    5634 non-null   float64
 20  TotalCharges      5634 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 924.5+ KB

In [6]:
data_df.columns

Index(['Churn', 'customerID', 'gender', 'SeniorCitizen', 'Partner',
       'Dependents', 'tenure', 'PhoneService', 'MultipleLines',
       'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
       'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract',
       'PaperlessBilling', 'PaymentMethod', 'MonthlyCharges', 'TotalCharges'],
      dtype='object')

In [7]:
#guardo la cardinalitÃ  per vedere per ogni colonna quali sono i valori unici
print(
" gender:", data_df.gender.unique(),"\n",
"Partner:", data_df.Partner.unique(),"\n",
"Dependents:", data_df.Dependents.unique(),"\n",
"PhoneService:", data_df.PhoneService.unique(),"\n",
"MultipleLines:", data_df.MultipleLines.unique(),"\n",
"InternetService:", data_df.InternetService.unique(),"\n",
"OnlineSecurity:", data_df.OnlineSecurity.unique(),"\n",
"OnlineBackup:", data_df.OnlineBackup.unique(),"\n",
"DeviceProtection:", data_df.DeviceProtection.unique(),"\n",
"TechSupport:", data_df.TechSupport.unique(),"\n",
"StreamingTV:", data_df.StreamingTV.unique(),"\n",
"StreamingMovies:", data_df.StreamingMovies.unique(),"\n",
"Contract:", data_df.Contract.unique(),"\n",
"PaperlessBilling:", data_df.PaperlessBilling.unique(),"\n",
"PaymentMethod:", data_df.PaymentMethod.unique(),"\n",
"Churn:", data_df.Churn.unique(),"\n"
)

 gender: ['Female' 'Male']
 Partner: ['No' 'Yes']
 Dependents: ['Yes' 'No']
 PhoneService: ['Yes' 'No']
 MultipleLines: ['No' 'Yes' 'No phone service']
 InternetService: ['DSL' 'Fiber optic' 'No']
 OnlineSecurity: ['Yes' 'No' 'No internet service']
 OnlineBackup: ['No' 'Yes' 'No internet service']
 DeviceProtection: ['Yes' 'No' 'No internet service']
 TechSupport: ['No' 'Yes' 'No internet service']
 StreamingTV: ['No' 'Yes' 'No internet service']
 StreamingMovies: ['Yes' 'No' 'No internet service']
 Contract: ['One year' 'Two year' 'Month-to-month']
 PaperlessBilling: ['No' 'Yes']
 PaymentMethod: ['Mailed check' 'Bank transfer (automatic)' 'Electronic check'
 'Credit card (automatic)']
 Churn: ['No' 'Yes']

In [8]:
#converto la variabile categoria che servirÃ  per la y
data_df.loc[data_df["Churn"]=="Yes", "Churn"] = 1
data_df.loc[data_df["Churn"]=="No", "Churn"] = 0

In [9]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5634 entries, 0 to 5633
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Churn             5634 non-null   object
 1   customerID        5634 non-null   object
 2   gender            5634 non-null   object
 3   SeniorCitizen     5634 non-null   int64
 4   Partner           5634 non-null   object
 5   Dependents        5634 non-null   object
 6   tenure            5634 non-null   int64
 7   PhoneService      5634 non-null   object
 8   MultipleLines     5634 non-null   object
 9   InternetService   5634 non-null   object
 10  OnlineSecurity    5634 non-null   object
 11  OnlineBackup      5634 non-null   object
 12  DeviceProtection  5634 non-null   object
 13  TechSupport       5634 non-null   object
 14  StreamingTV       5634 non-null   object
 15  StreamingMovies   5634 non-null   object
 16  Contract          5634 non-null   object
 17  PaperlessBilling  5634 non-null   object
 18  PaymentMethod     5634 non-null   object
 19  MonthlyCharges    5634 non-null   float64
 20  TotalCharges      5634 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 924.5+ KB

In [10]:
#individuo le colonne con valori mancanti e le cancello
data_df.replace('No internet service', np.nan , inplace=True)
data_df.replace('No phone service', np.nan , inplace=True)
data_df.replace(' ', np.nan , inplace=True)

In [11]:
data_df.isnull().sum()

Churn                  0
customerID             0
gender                 0
SeniorCitizen          0
Partner                0
Dependents             0
tenure                 0
PhoneService           0
MultipleLines        552
InternetService        0
OnlineSecurity      1214
OnlineBackup        1214
DeviceProtection    1214
TechSupport         1214
StreamingTV         1214
StreamingMovies     1214
Contract               0
PaperlessBilling       0
PaymentMethod          0
MonthlyCharges         0
TotalCharges          10
dtype: int64

In [12]:

data_df.drop(["MultipleLines", "OnlineBackup", "TechSupport", "OnlineSecurity",
           "DeviceProtection", "StreamingTV", "StreamingMovies"], axis=1, inplace=True)

In [13]:
#separo target e predizioni e divido tra training e validation
from sklearn.model_selection import train_test_split

y = data_df.Churn

#CustomerID, paperlessBilling, paymentMethod non servono ai fini della predizione

features = ['gender','SeniorCitizen', 'Partner',
        'Dependents', 'tenure', 'PhoneService',
       'InternetService', 'Contract',
        'MonthlyCharges', 'TotalCharges']
X = data_df[features]

X_train_full, X_valid_full, y_train, y_valid = train_test_split(X, y, train_size=0.8, test_size=0.2,
                                                                random_state=0)


low_cardinality_cols = [cname for cname in X_train_full.columns if X_train_full[cname].nunique() < 10 and 
                        X_train_full[cname].dtype == "object"]

# Seleziono le colonne con valori numerici
numerical_cols = [cname for cname in X_train_full.columns if X_train_full[cname].dtype in ['int64', 'float64']]


my_cols = low_cardinality_cols + numerical_cols
X_train = X_train_full[my_cols].copy()
X_valid = X_valid_full[my_cols].copy()

print(X_train.shape, y_train.shape, X_valid.shape, y_valid.shape)

(4507, 9) (4507,) (1127, 9) (1127,)

In [14]:
# lista delle variabili categoriche
s = (X_train.dtypes == 'object')
object_cols = list(s[s].index)

print("Categorical variables:")
print(object_cols)

Categorical variables:
['gender', 'Partner', 'Dependents', 'PhoneService', 'InternetService', 'Contract']

In [15]:
#variabili categoriche trasformate con Label Encoder: si assegna un integer diverso ad ogni valore
from sklearn.preprocessing import LabelEncoder

label_X_train = X_train.copy()
label_X_valid = X_valid.copy()

label_encoder = LabelEncoder()
for col in object_cols:
    label_X_train[col] = label_encoder.fit_transform(X_train[col])
    label_X_valid[col] = label_encoder.transform(X_valid[col])

In [16]:
label_X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4507 entries, 1867 to 2732
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   gender           4507 non-null   int64
 1   Partner          4507 non-null   int64
 2   Dependents       4507 non-null   int64
 3   PhoneService     4507 non-null   int64
 4   InternetService  4507 non-null   int64
 5   Contract         4507 non-null   int64
 6   SeniorCitizen    4507 non-null   int64
 7   tenure           4507 non-null   int64
 8   MonthlyCharges   4507 non-null   float64
dtypes: float64(1), int64(8)
memory usage: 352.1 KB

In [17]:
#utilizzo questo classificatore perchÃ¨ permette di raggiungere un'accuratezza maggiore
#rispetto ad utilizzare un singolo albero di decisione, infatti
#vengono utilizzati piÃ¹ alberi e in ogni componente vengonon fatte delle predizioni
#infine si ha una votazione in cui viene presa la decisione considerata la migliore

from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

forest_model = RandomForestRegressor(random_state=1)
forest_model.fit(label_X_train, y_train)
preds = forest_model.predict(label_X_valid)
print(mean_absolute_error(y_valid, preds))

0.26646453218968746

In [18]:
#accuratezza
from sklearn.metrics import accuracy_score

random_forest_acc_score = accuracy_score(preds.round(), y_valid) * 100
print("Accuracy Score:", random_forest_acc_score)

Accuracy Score: 79.0594498669033